* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #331436;
  padding: 20px;
  gap: 20px;
}

/*logo*/
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  /*text header*/
}
#header {
  width: 1070px;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  color: white;
}
#button-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 12px;
  background-color: #cb4f57;
  color: #fcf4b6;
  border: none;
  width: 240px;
  height: 48px;
}

/* main-section*/
#main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 29px;
  gap: 60px;
  width: 100%;
  background: #7a1745;
}
#main-section > .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
#main-section > .welcome > h1 {
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fcf4b6;
}
#main-section > .welcome > p {
  width: 520px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: white;
}
#button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  width: 240px;
  height: 48px;
  padding: 0px;
  gap: 12px;
  background-color: #cb4f57;
  color: #fcf4b6;
}

/*section-2*/

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 60px;
  width: 100%;
}
#section-2 > .manager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  /* width: 1100px; */
}

#section-2 > .manager > h1 {
  width: 1100px;
  height: 48px;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: black;
}
#section-2 > .manager > p {
  width: 1100px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #020000;
}

#section-2 > .manager-image {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

#section-2 > .manager-image > .image-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#section-2 > .manager-image > .image-item > .title {
  color: #331436;
  font-size: 16px;
  line-height: 24px;
}
#section-2 > .manager-image > .image-item > .subtitle {
  color: #331436;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

/*section-3*/
#section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 60px;
  width: 100%;
  background-color: #fcf4b6;
}
#section-3 > .tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#section-3 > .tools > h1 {
  width: 520px;
  height: 48px;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #331436;
}
#section-3 > .tools > p {
  width: 520px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  gap: 24px;
  text-align: center;
  color: #331436;
}
.icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

.icons-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  padding-top: 12px;
  width: 245px;
  gap: 20px;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #331436;
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-item > .title {
  color: #331436;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.icons-item > .subtitle {
  color: #331436;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
/*section-4*/
#section-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 60px;
  width: 100%;
  padding-left: 170px;
  padding-right: 170px;
}
#section-4 > .subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  gap: 24px;
  flex-grow: 1;
}
#section-4 > .subscribe > h1 {
  width: 520px;
  height: 48px;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: left;
  color: #331436;
}
#section-4 > .subscribe > p {
  width: 520px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #331436;
}
#subscribeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-grow: 1;
  /* width: 520px;
  height: 60px; */
}
input[type="email"],
 [type="name"],
[type="password"] {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  width: 520px;
  height: 60px;
  /* color: #331436; */
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

/*footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 60px;
  gap: 60px;
  background: #331436;
}

.social-media {
  width: 136px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.social-media > .circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}
.social-media > .icon {
  position: absolute;
  top: 12px;
  left: 12px;
  transform: translate(-50%, -50%);
}

/* pagina login */


.container-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 170px;
  padding-right: 170px;
  gap: 60px;


}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.text > h1 {
  width: 520px;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  gap: 24px;
  color: #331436;
}
.text > p {
  width: 520px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #331436;
}

/* form  */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex-grow: 1;
}

/*button login*/

.btn-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 240px;
  height: 48px;
  gap: 12px;
  background-color: #331436;
  color: white;
  font-size: 16px;
  line-height: 24px;
}
/*kanban*/

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 40px;
  list-style-type: none;
}
a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  gap: 4px;
}
input[type="text"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  background-color: #331436;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.kanban {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 170px;
  padding-right: 170px;
  gap: 60px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px;
  gap: 10px;
  border-radius: 8px;
  background-color: white;
  width: 240px;
  height: 626px;
}
.column > h1 {
  color: #331436;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  align-items: flex-start;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #331436;
  width: 200px;
  height: 127px;
}
.header {
  width: 180px;
  height: 24px;
  gap: 104px;
  display: flex;
  flex-direction: row;
}
.priorityHigh {
  width: 30px;
  height: 15px;
  font-size: 10px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #cb4f57;
  color: #7a1745;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.priorityMid {
  width: 30px;
  height: 15px;
  font-size: 10px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #eb9961;
  color: #cb4f57;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.priorityLow {
  width: 30px;
  height: 15px;
  font-size: 10px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #eb9961;
  color: #fcf4b6;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.date {
  width: 56px;
  height: 24px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.tasks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 800;
  font-size: 12px;
  line-height: 24px;
  color: #331436;
  width: 59px;
  height: 24px;
}
.footer-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 5px;
  gap: 5px;
  width: 180px;
  height: 39px;
}
.footer-1 > .IT {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #801e8f;
}
.footer-1 > .JS {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #2e4b83;
}
.footer-1 > .NS {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #d92b93;
}
.footer-1 > .LC {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #1a712d;
}
.footer-1 > .GM {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background-color: #af4a00;
}
.tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
}
