header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #331436;
    padding: 20px;
    gap:20px;
    width: 1440px;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;


}
 /*logo*/
img{
    width: 50px;
    height: 50px;
    border-radius: 50px;

    /*text header*/
}
#header{
    width: 1070px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    text-align: left;
    color: white;
}
.button{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 240px;
    height: 48px;
    padding: 0px;
    gap: 12px;
    background-color: #CB4F57;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* main-section*/
#main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 170px;
    gap: 60px;
    width: 1440px;
    height: 496px;
    background: #7A1745;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1;
}
#main-section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 540px;
    height: 436px;
}
#main-section > div > h1{
    width: 520px;
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FCF4B6;
}
#main-section > div > p{
    width: 520px;
    height: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
}
#main-section> div > button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 240px;
    height: 48px;
    padding: 0px;
    gap: 12px;
    background-color: #CB4F57;
    color: #FCF4B6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#main-section > div > img{
    width: 540px;
    height: 437px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}
/* pagina login*/

#container-login{

    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    padding: 60px 170px;
    max-width: 1440px;
    min-height: 900px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
 /*text login*/

#login{
    width: 520px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    color:#331436;

}
p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #331436;
}

/* form */

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 520px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
    }

 /*button login*/

.btn-submit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 240px;
    height: 48px;
    gap: 12px;
    padding: 0px;
    background-color: #331436;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

}

/*Input*/

input[type="email"]{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 80px;
width: 520px;
height: 60px;
color: #331436;
border-radius: 5px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
line-height: 20px;
}
input[type="password"]{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    width: 520px;
    height: 60px;
    color: #331436;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}

footer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 60px;
gap: 60px;
width: 1440px;
height: 220px;
background: #331436;
}




